@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-p {
    padding: 20px 40px
}

.section-m {
    margin: 30px 0
}

li {
    list-style: none;
    padding: 0 10px;
}

li::after {
    content: '';
    width: 0%;
    display: block;
    background: #fff;
    height: 2px;
    margin: auto;
    transition: .3s;
}

li:hover::after {
    width: 100%;
}

.sub-menu {
    display: none;
}

li:hover .sub-menu {
    display: block;
    position: absolute;
    background: #420f6b;
    color: #fff;
    text-align: left;
    padding: 10px;
    width: 100px;
}

.sub-menu li {
    border-bottom: 1px dotted;
    padding-top: 10px;
}

.sub-menu li:last-child {
    border-bottom: none;
}

li:hover .sub-menu li:hover {
    background: #e9967a;
}

.sub-menu li::after {
    background: transparent;
}

h2 {
    font-size: 42px;
    color: #420f6b;
}

h4 {
    font-size: 22px;
    color: #fff;
}

a {
    text-decoration: none;
    color: darksalmon;
}

#nav {
    background: #420f6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    animation: slidefromLeft 1s ease;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-left: 50px;
}

.profile {
    animation: slidefromRight 1s ease;
    margin: 10px 0;
}

#nav #navbar,
#nav .profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 12%;
    margin: 10px;
}

#form {
    background-image: url('../image/Airbus-A380-GettyImages-149618224.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slidefromTop 1s ease;
}

.container {
    width: 80%;
    background: #0f246b7d;
    border: 1px solid #fff;
    box-shadow: 0px 5px 10px #00000096;
    margin: 20px;
    padding: 30px 0;
    color: #fff;
}

.detail {
    display: inline-block;
    margin-bottom: 40px;
}

.detail input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    outline: none;
}

button {
    width: 180px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 10px 0;
    transition: .3s;
    margin: auto;
}

button:hover {
    background: #420f6b;
}

footer {
    background: #420f6b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.copyright {
    width: 100%;
    text-align: center;
    color: #c1c1c1;
}


/* media query */
@media (max-width: 799px) {
    #nav {
        display: block;
        margin: auto;
    }

    #nav .profile {
        margin: 0 50px;
    }

}

@media (max-width: 477px) {
    h4 {
        font-size: 18px;
        margin-left: 80px;
    }

    .profile img {
        margin-right: 0;
    }

    footer {
        display: block;
    }

    .col {
        display: flex;
        align-items: center;
        margin: 30px;
    }

    .col h4 {
        margin: 5px 0;
    }
}

/* animination */

@keyframes slidefromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slidefromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slidefromTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0%);
    }
}